---
layout: default
hide: true
---
<div class="home">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/powershell.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.9.0/mermaid.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/dracula.min.css"/>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Highlight.js
			hljs.highlightAll();

			// Sélection de tous les code Mermaid
			const mermaidCodes = document.querySelectorAll("code.language-mermaid");

			mermaidCodes.forEach(code => {
				code.classList.add("mermaid"); // Ajoute la classe mermaid
			});

			// Initialisation Mermaid
			mermaid.initialize({ startOnLoad: true });
		});
	</script>
	<div id="md">
		{{page.raw_content | markdownify}}
	</div>
</div>