---
layout: default
hide: true
---
<div class="home">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/powershell.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.9.0/mermaid.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/dracula.min.css"/>
	<script>
		var js = document.createElement("script");
		js.type = "text/javascript";
		var src = "https://api.github.com/gists/{{page.id}}";
		$.get(src,function(data){
			var converter = new showdown.Converter({ tables: true, emoji: true, ghCompatibleHeaderId: true, tasklists: true});
			var file = (data.files[Object.keys(data.files)]);
			var html = file.content;
			if(file.filename.split(".").slice(-1)!="md" || html.indexOf("# ") != 0)
				var html = file.filename.split(".").slice(-1)!="md"
					? "# "+ file.filename + "\n" + data.description +"\n```"+file.filename.split(".").slice(-1)+"\n"+html+"\n```"
					: "# "+ file.filename + "  \n" + html
			var html = converter.makeHtml(html);
			html.replace("","");
			$("#md").append(html);
			mermaid.init();
			hljs.highlightAll();
		})
	</script>
	<div id="md"></div>
</div>